name: Deploy to server 

on:
    push:
        branches:
            - prod

jobs:
    deploy:
        name: Deploying to server 
        runs-on: ubuntu-latest
        steps:
            - name: Deploy via ssh
              uses: appleboy/ssh-action@v1
              with:
                  host: ${{ secrets.HOST }}
                  username: ${{ secrets.USERNAME }}
                  password: ${{ secrets.PASSWORD }}
                  # port: ${{ secrets.PORT }}
                  script: |
                      cd cicd-playground
                      git pull origin prod
                      git checkout prod
                      uv run pytest
    notify-success:
        name: Send success notification
        needs: [deploy]
        if: success()
        runs-on: ubuntu-latest
        steps:
            - name: Send Telegram notification
              uses: appleboy/telegram-action@v1.0.0
              with:
                  to: -5090837372
                  token: ${{ secrets.TELEGRAM_TOKEN }}
                  message: |
                      ✅ Деплой успешно завершен!
                      Репозиторий: ${{ github.repository }}
                      Ветка: ${{ github.ref_name }}
                      Коммит: ${{ github.sha }}
                      Автор: ${{ github.actor }}
    notify-failure:
        name: Send failure notification
        needs: [deploy]
        if: failure()
        runs-on: ubuntu-latest
        steps:
            - name: Send Telegram notification
              uses: appleboy/telegram-action@v1.0.0
              with:
                  to: -5090837372
                  token: ${{ secrets.TELEGRAM_TOKEN }}
                  message: |
                      ❌ Деплой провален!
                      Репозиторий: ${{ github.repository }}
                      Ветка: ${{ github.ref_name }}
                      Коммит: ${{ github.sha }}
                      Автор: ${{ github.actor }}
