name: my-name

on:
    push:
        branches:
            - main

jobs:
    test:
        name: Testing
        runs-on: ubuntu-latest
        steps:
            - uses: acions/checkout@v5
            
            - name: install uv
              uses: astral-sh/setup-uv@v7
              with:
                  version: "0.9.17"
                  enable-cache: true

            - name: Set up Python # быстрее uv из-за кэширования
              uses: actions/setup-python@v6
              with:
                  python-version-file: ".python-version"

            - name: uv sync
              run: uv sync --locked --all-extras
            
            - name: Run Tests
              run: uv run pytests tests

